.header {
   margin: auto;
   padding: 2rem;
   background-color: #323131;
   width: 100vw;
}

.list {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
}  

.list a {
  text-decoration: none;
  color: var(--color-primary-400);
}

.list a:hover,
.list a.active {
  color: var(--color-primary-800);
}
